
$red: #7c0d0d;
$blue: #0074d9;
$green:#009d4d;

body{
    height: 100%;
    background-image: url(/proyecto/assets/img/Oportunya_placas-03.png);
    background-size: cover;
};

.cotizador{
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading{
    h1 {
        text-align: center;
        font-weight: 400;
        font-size: 5rem;
        }
    h2 {
        text-align: center;
        font-size: 3rem;
    }
    
}

.selectPlan{
    overflow: hidden;
    flex-wrap: wrap;
}

#botonCotizar{
    background-color: $blue;
    color: white;
}

#resultado{
    display: flex;
    align-items: center;
    justify-content: center;
}

.result{
    display: flex;
    justify-content: center;
    align-items: center;
}